<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.works.adeogo.doctor">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/new_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/new_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".QuestionActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".NavigationStartActivity" />

        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".NavigationStartActivity" />
        <activity
            android:name=".FirstActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".SupportActivity"
            android:parentActivityName=".NavigationStartActivity" />
        <activity
            android:name=".AppointmentActivity"
            android:parentActivityName=".NavigationStartActivity" />
        <activity
            android:name=".NavigationStartActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="370e4b0fb4b72bc94add262f681921bd88d14b8b" />

        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".NavigationStartActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThanksActivity" />
        <activity
            android:name=".RegistrationActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestChatActivity"
            android:theme="@style/BlueTheme"></activity>
        <activity android:name=".TestingActivity"></activity>
    </application>

</manifest>